# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
venv/
.venv/

# PyInstaller
build/
dist/
*.spec

# Inno Setup
installer/
Output/

# Log and session files
*.log
downloads.json
# settings.json # يمكنك إزالة علامة # إذا أردت حفظ الإعدادات الافتراضية في المشروع

# IDE files
.vscode/
.idea/